/* You can add global styles to this file, and also import other style files */
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~font-awesome/css/font-awesome.css";
// @import '~ng-drag-drop/style.css';
// @import "~ng-pick-datetime/assets/style/picker.min.css";
// @import '~angular-tree-component/dist/angular-tree-component.css';
// @import '../../node_modules/angular-calendar/css/angular-calendar.css';
@import "./variables.scss";
* {
  font-family: #{$fontNormal};
}

table {
  width: 100% !important;
}

.mat-header-row {
  border-bottom: 1px double #4a4545;
}

.mat-header-row .mat-header-cell {
  font-family: #{$fontBold};
  letter-spacing: normal;
  height: 13px;
  line-height: 1.25;
  font-weight: bold;
  font-stretch: normal;
  color: #4d4d4d;
}
.btn-round {
  border-radius: 25px;
}
tr.mat-header-row {
  height: 45px !important;
}

a {
  font-size: 12px !important;
}
label {
  font-size: 10px;
  font-variant: small-caps;
  font-family: #{$fontNormal};
  -webkit-font-smoothing: antialiased;
  font-weight: medium;
  color: #4d4d4d;
}
.label-style {
  font-size: 10px;
  font-variant: small-caps;
  font-family: #{$fontNormal};
  -webkit-font-smoothing: antialiased;
  font-weight: medium;
  color: #4d4d4d;
}
.custom-file-label {
  font-size: 14px;
  font-variant: small-caps;
  font-family: #{$fontNormal};
  -webkit-font-smoothing: antialiased;
  font-weight: medium;
}

.label-style {
  font-family: #{$fontNormal};
  font-weight: medium;
  color: #4d4d4d;
}

::-webkit-input-placeholder {
  font-size: 12px;
  font-weight: normal;
  color: #727070;
}

:-moz-placeholder {
  /* Firefox 18- */
  font-size: 12px;
  font-weight: normal;
  color: #727070;
}

::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 12px;
  font-weight: normal;
  color: #727070;
}

/*New styles*/
select {
  font-size: 12px;
  font-weight: normal;
  color: #727070;
}

.dropdown-item {
  font-family: #{$fontNormal};
  font-size: 13px !important;
}
.dropdown-item:focus,
.dropdown-item:hover {
  color: #{$whiteColor} !important;
  text-decoration: none !important;
  background-color: #{$selectBoxBgColor} !important;
  font-family: #{$fontMedium} !important;
}

input {
  font-size: 12px;
  font-weight: normal;
  color: #4d4d4d;
}

tr th {
  background-color: #{$bodyColor};
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center !important;
  color: #4d4d4d;
}

tr td {
  // background-color: #fff;
  font-size: 13px;
  text-align: center;
}

p {
  font-size: 14px;
}

label {
  margin-bottom: 0px !important;
  color: #5c5c5c !important;
  font-size: 10 px;
}

.fa-icons {
  color: #{$maincolor};
  font-size: 16px;
}

.leaflet-tooltip.my-labels {
  position: absolute;
  font-size: 0px;
  background: none;
  border: none;
  color: black;
  box-shadow: none;
  outline: none;
  transform: inherit;
  font-weight: bolder !important;
  word-wrap: break-word !important;
  white-space: unset !important;
  overflow-wrap: break-word !important;
  // word-break: break-word !important;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  line-height: 0.7 !important;
}

.groove {
  height: 690px !important;
  border: 5px solid #a8a4a4;
  // -webkit-box-shadow: 3px 3px 3px 3px #ccc; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  // -moz-box-shadow: 3px 3px 3px 3px #ccc; /* Firefox 3.5 - 3.6 */
  // box-shadow: 3px 3px 3px 3px #ccc;
}

.toast-container {
  pointer-events: none;
  position: fixed;
  z-index: 999999;
  text-align: center !important;
}

/*Wraperclass for the divicon*/
.map-label {
  position: absolute;
  bottom: 0;
  left: -50%;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 205px;
  height: 51px;
}
/*Wrap the content of the divicon (text) in this class*/
.map-label-content {
  order: 1;
  position: relative;
  left: -50%;
  top: -40%;
  background-color: #fff;
  border-radius: 8px;
  border-color: #fff;
  white-space: nowrap;
}
.map-label-img-container {
  margin: 8px 11px 10px 13px;
  width: 36px;
  height: 36px;
}
.map-label-info-container {
  font-size: 12px;
}
/*Add this arrow*/
.map-label-arrow {
  order: 2;
  width: 0px;
  height: 0px;
  left: 50%;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
  border-width: 10px 6px 0 6px; /*[first number is height, second/fourth are rigth/left width]*/
  margin-left: -6px;
}

/*Add this arrow up*/
.map-label-arrow-up {
  order: 1;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #{$maincolor};
  border-top: none;
}

.map-label-content-down {
  order: 2;
  padding: 10px 10px 0px 10px;
  border-radius: 8px;
  border-color: #fff;
  white-space: nowrap;
  background-color: #{$maincolor};
  position: relative;
  left: -15px;
}

.map-label-down {
  position: absolute;
  // left: -20px;
  // bottom: -72px;
  display: flex;
  flex-direction: column;
  // padding: 10px;
  color: #fff;
  width: 200px;
  height: 51px;
}
.map-label-down-popup {
  position: absolute;
  display: flex;
  flex-direction: column;
  color: #fff;
  width: 200px;
  height: auto;
}
.map-label-content-down p {
  line-height: 5px;
}

.seat-timings {
  color: "#afaeae";
}

.hr-line {
  border-color: #676767;
  border-width: thin;
}

.custom-upload-btn::after {
  position: absolute;
  top: 4px;
  right: 4px;
  font-size: 12px;
  bottom: 0;
  z-index: 3;
  display: block;
  height: 80%;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  color: #ffffff;
  content: "Browse";
  background-color: #0f1f54;
  font-family: "OpenSans-SemiBold";
  border-left: 0px;
  border-radius: 0.25rem 0.25rem 0.25rem 0.25rem;
}

#uploadCSV {
  width: 180px;
}

.mat-slide-toggle-thumb {
  height: 15px !important;
  width: 15px !important;
  top: 2px;
  border-radius: 50%;
  position: absolute;
}

.mat-slide-toggle-bar {
  width: 30px !important;
}

.bg-matToogleBar[_ngcontent-jaq-c0],
.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #7883a8 !important;
}

.custom-leaflet .leaflet-popup-tip,
.custom-leaflet .leaflet-popup-content-wrapper {
  background: #{$maincolor};
  color: #ffffff;
  opacity: 0.9;
}

.custom-leaflet .leaflet-popup-content {
  width: 280px;
}

.custom-leaflet {
  bottom: -35px !important;
  left: -159px !important;
}

.leaflet-popup-content p {
  width: 82px;
  font-family: #{$fontNormal};
  font-size: 10px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 0;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}

.leaf-dp {
  background-color: #fff;
  border-radius: 50%;
  font-size: 20px;
  text-align: center;
  color: #{$maincolor};
  padding: 10px;
  font-weight: bold;
  border: 1px solid #ffffff;
}

.leaf-name {
  font-weight: bold;
  font-size: 18px;
}

.font-bold {
  font-weight: bold;
}

.w-40 {
  width: 40%;
}

.leaf-email {
  margin: 10px 0px !important;
  font-size: 13px !important;
}

.custom-leaflet .leaflet-popup-close-button {
  display: none;
}

.toast-container .ngx-toastr {
  padding: 8px 12px 2px 12px;
  background-image: none;
  width: 500px !important;
}

.modal-dialog {
  -webkit-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
  top: 37%;
  margin: 0 auto;
}

.highcharts-xaxis .highcharts-axis-title tspan {
  font-weight: bold;
  font-family: #{$fontBold};
  margin-top: 10px;
}

.heading-font-bold {
  font-family: #{$fontBold};
  font-size: 20pt;
  color: #1f2251;
}

.pg-main {
  font-size: 20px;
  font-family: "HelveticaNeue-medium";
  color: #0f1f54;
}

.anchor-main {
  font-family: #{$fontBold};
}

.legend-circle-dp {
  background: #69577a;
  color: #fff;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  font-size: 18px;
  line-height: 36px;
  color: #fff;
  margin: 8px 8px 7px 10px;
  padding: 1px;
}
.user-name {
  font-family: #{$fontBold};
  margin: 8px 0px 2px 0px;
  font-size: 17px;
  color: #2d2d2d;
}
.desk-info {
  margin: 2px 0px 10px 0px;
  color: #848484;
  font-family: #{$fontNormal};
  font-size: 12px;
}
.legend-circle-dp:hover {
  color: #fff !important;
}
.rounded-circle {
  width: 36px !important;
  border-radius: 100% !important;
  height: 36px !important;
}
.ng5-slider .ng5-slider-bubble {
  font-size: 14px !important;
}
.leaflet-zoom-animated {
  //     background: #bdc3c7 !important; /* fallback for old browsers */
  // background: -webkit-linear-gradient(to top, #2c3e50, #bdc3c7) !important;  /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(to top, #2c3e50, #bdc3c7) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  // background: #536976 !important;  /* fallback for old browsers */
  // background: -webkit-linear-gradient(to top, #292E49, #536976) !important;  /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(to top, #292E49, #536976) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  // background: #BBD2C5 !important;  /* fallback for old browsers */
  // background: -webkit-linear-gradient(to bottom, #292E49, #536976, #BBD2C5) !important;  /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(to bottom, #292E49, #536976, #BBD2C5) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  // background: #C9D6FF  !important;  /* fallback for old browsers */
  // background: -webkit-linear-gradient(to bottom, #E2E2E2, #C9D6FF)  !important;  /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(to bottom, #E2E2E2, #C9D6FF)  !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.legend-circle-map {
  background: #0f1f54;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 16px;
  line-height: 30px;
  color: #fff;
  margin: 0px 8px 0px 0px;
  padding: 0px;
}
.map-label-content-down-white {
  order: 2;
  padding: 12px;
  border-radius: 8px;
  border-color: #fff;
  white-space: nowrap;
  background-color: white;
  position: relative;
  left: -20px;
}

.iconsMain {
  width: 25px;
  height: 25px;
}

.inner-card-sm-main {
  display: inline-flex;
  background-color: #ffffff;
  height: 220px;
  width: 190px;
  border-radius: 20px;
  box-shadow: rgb(149 157 165 / 30%) 0px 5px 7px 1px;
  border: none;
  margin-left: 14px !important;
}

.inner-card-main {
  display: inline-flex;
  background-color: #ffffff;
  height: 220px;
  width: 200px;
  border-radius: 20px;
  box-shadow: rgb(149 157 165 / 30%) 0px 5px 7px 1px;
  border: none;
  margin-left: 14px !important;
}

.inner-card-md-main {
  display: inline-flex;
  background-color: #ffffff;
  height: 250px;
  width: 200px;
  border-radius: 20px;
  box-shadow: rgb(149 157 165 / 30%) 0px 5px 7px 1px;
  border: none;
  margin-left: 14px !important;
}

.inner-card-lg-main {
  background-color: #ffffff;
  height: 310px;
  width: 200px;
  border-radius: 0px 0px 20px 20px;
  box-shadow: rgb(149 157 165 / 30%) 0px 5px 7px 1px;
  border: none;
  overflow-y: scroll;
  padding: 10px;
}

.inner-card-auto {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: rgb(149 157 165 / 30%) 0px 5px 7px 1px;
  border: none;
}

.custom-btn {
  font-family: "HelveticaNeue-medium";
  border-radius: 50px;
  padding: 0.5rem;
  font-size: 1.3rem;
}
.w-200 {
  width: 200px;
  display: block;
}
.cursor-pointer {
  cursor: pointer;
}
// .sm-modal {
//   height: auto !important;
//   width: 30% !important;
// }
// .md-modal {
//   height: auto !important;
//   width: 50% !important;
// }
// .lg-modal {
//   height: auto !important;
//   width: 80% !important;
// }
$modal-widths: (
  "sm": 30%,
  "md": 50%,
  "lg": 80%,
);

.sm-modal {
  height: auto !important;
  width: map-get($modal-widths, sm) !important;
}
.md-modal {
  height: auto !important;
  width: map-get($modal-widths, md) !important;
}
.lg-modal {
  height: auto !important;
  width: map-get($modal-widths, lg) !important;
}
::ng-deep .sm-modal .mat-dialog-container,
::ng-deep .md-modal .mat-dialog-container,
::ng-deep .lg-modal .mat-dialog-container {
  border-radius: 25px;
  padding: 24px 3px 24px 24px !important;
}
.mediumBtn {
  font-family: "HelveticaNeue-medium";
  border-radius: 50px;
  width: 150px;
  padding: 0.5rem;
  font-size: 1.2rem;
}
.smallBtn {
  font-family: 'OpenSans-SemiBold';
  border-radius: 50px;
  width: auto;
  padding: 5px 25px 5px 25px;
}
.semi-bold-blue {
  color: #1f2551;
  font-family: "OpenSans-SemiBold";
}
.semi-bold-blue > * {
  font-family: inherit;
}
.regular-font {
  font-family: #{$fontNormal};
  font-weight: 900;
  color: #1f2551;
}

.regular-bold-font {
  font-family: #{$fontBold};
  font-weight: 600;
  color: #1f2551;
}

.regular-semibold-font {
  font-family: #{$fontMedium};
  font-weight: 600;
  color: #1f2551;
}

.light-blue-anchor {
  color: #1a659f;
  text-decoration: underline;
  font-family: "OpenSans-SemiBold";
  cursor: pointer;
}
.gray-regular {
  font-family: "HelveticaNeue-medium";
  color: #5c5d5d;
  font-size: 16px;
  line-height: 2rem;
}
.regular-font-blue {
  font-family: "HelveticaNeue-medium";
  font-size: 16px;
  color: #1f2551;
}

::ng-deep.mat-radio-label-content {
  font-size: 14px !important;
  font-family: #{$fontMedium} !important;
  color: #1f2551 !important;
  text-transform: none !important;
  font-variant: normal !important;
}
  .regular-bold-font {
    font-family: #{$fontBold};
    font-weight: 600;
    color: #1f2551;
    font-size: 16px;
  }
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .md-modal {
    width: 100% !important;
  }
  .sm-modal {
    width: 100% !important;
  }
}
.cursor-pointer {
  cursor: pointer;
}
.inner-card-auto-dbs {
  background-color: #F3F7FA;
  ;
  border-radius: 10px;
  box-shadow: rgb(149 157 165 / 30%) 0px 5px 7px 1px;
  border: none;
  padding: 12px;
}

.btn-round {
  box-shadow: 0px 4px 16px -1px rgba(0, 0, 0, 0.1) !important;
}

.regular-font-dbs {
  font-family: #{$fontNormal};
  font-size: 14px;
  font-weight: 400;
  color: #1f2551;
  font-variant: normal;
}

.font-label-dbs {
  font-family: 'Open Sans';
  font-variant: normal !important;
  font-weight: 400;
  font-size: 10px;
  color: #666666 !important;
}

.normal-font {
  font-family: #{$fontNormal};
  color: #1f2551;
  font-size: 14px;
  line-height: 2rem;
  font-weight: 400;
}

.regular-bold-font-dbs {
  font-family: 'OpenSans-SemiBold';
  font-weight: 400;
  color: #1f2551;
  font-size: 14px;
}
.btn-gray{
  background-color: darkgray !important;
  color: #0f1f54 !important;
  border: none !important;
  font-family: 'OpenSans-SemiBold' !important;
}
.grey-regular-dbs {
  color: #5c5d5d;
  font-size: 14px;
}
