<div class="sidebar">

  
  
    <div class="profile">
        <img src="../../../assets/images/user_image.png">
        <p>{{userName}}</p>
    </div>
  
    <ul class="menu">
  
      <li routerLink="dashboard" routerLinkActive="active">
        Dashboard
      </li>
  
      <li routerLink="category" routerLinkActive="active" >
        Category
      </li>
  
      <li routerLink="income" routerLinkActive="active" >
        Income
      </li>
  
      <li routerLink="expense" routerLinkActive="active">
        Expense
      </li>
  
      <li routerLink="filters" routerLinkActive="active">
        Filters
      </li>
  
    </ul>
  
  </div>